.nav-container {
    max-width: 100%;
    margin-inline: 1.5rem;
}

.nav-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #191c007d;
    z-index: 10000;
    color: #fff;
}

.nav {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.nav-link {
    position: relative;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.nav-link span {
    position: relative;
    transition: margin 0.4s;
}

.nav-link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease-out;
}

.nav-link:hover span {
    margin-left: 2.5rem;
}

.nav-link:hover i {
    opacity: 1;
    visibility: visible;
}
  
.nav-link:hover span::after {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .nav-container {
        max-width: 60%;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
}


@media screen and (max-width: 700px) {
    .nav-container {
        max-width: 40%;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .slides.fade {
        background-attachment: scroll; 
    }
    
}