@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+JP:wght@200..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color-violet: #ca8517;
    --primary-subset-color-violet: #ca9117;
    --secondary-color-violet: #ffffff;
    --secondary-subset-color-violet: #140c01;


    --primary-color-violet-text: #fff5db;
    --secondary-color-violet-text: #000000;
    --primary-font: "Noto Serif JP", serif;
    --letter-font: "Great Vibes", serif;
    --secondary-font: "Zilla Slab", serif;
}

* {
    scroll-behavior: smooth;
}

html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color-violet-text);
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--primary-font);
}

body {
    overflow-x: hidden;
    background-color: var(--secondary-subset-color-violet);
    color: var(--primary-color-violet-text);
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.homepage-wrapper, .about-container, .episodes-container, .letters-container  {
    padding: 5px;
    max-height: 150vh;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.homepage-wrapper {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient(to bottom, rgba(151, 126, 3, 0.445), rgb(0, 0, 0)), url('../Components/images/bkg1.jpg');
}

.homepage-container {
    z-index: 10;
    text-align: center;
    position: relative;
    top: -5rem;
}


.homepage-container a {
    border: 1px solid var(--secondary-color-violet);
    padding: 8px;
    border-radius: 6px;
}

.homepage-container h1 {
    font-size: 60px;
    text-shadow: var(--primary-color-violet) 0px 0px 59px;

}

.homepage-container h4 {
    text-shadow: var(--primary-color-violet) 0px 0px 59px;

}

.homepage-container a:hover {
    background-color: var(--primary-subset-color-violet);
    transition: 0.2s ease-in-out;
    -webkit-box-shadow:0px 0px 167px 10px var(--primary-color-violet);
    -moz-box-shadow: 0px 0px 167px 10px var(--primary-color-violet);
    box-shadow: 0px 0px 167px 10px var(--primary-color-violet);
}


.letters-modal {
    display: hidden;
}

.about-container p{
    width: 60%;
    font-family: var(--secondary-font);
    font-size: larger;
    text-align: justify;
    font-stretch: expanded;
}

.capsule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.letter {
    cursor: pointer;
    border: 1px solid var(--secondary-color-violet);
    border-radius: 14px;
    height: 150px;
    width: 250px;
    margin: 20px;
    -webkit-box-shadow:0px 0px 27px 1px var(--primary-color-violet);
    -moz-box-shadow: 0px 0px 27px 2px var(--primary-color-violet);
    box-shadow: 0px 0px 27px 1px var(--primary-color-violet);
    transition: 0.3s ease-in-out;
}

.letter img {
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.letter:hover {
    scale: 1.05;
    -webkit-box-shadow:0px 0px 37px 10px var(--primary-color-violet);
    -moz-box-shadow: 0px 0px 37px 10px var(--primary-color-violet);
    box-shadow: 0px 0px 37px 10px var(--primary-color-violet);
}

.papers {
    position: absolute;
    z-index: 1;
}

.papers img{
    height: 10rem;
    width: 10rem;
    padding: 5px;
    margin: 5px;
}

#paper1 {

    position: relative;
    top: -200px;
    left: 1000px;
    filter: drop-shadow(20px 23px 23px var(--secondary-subset-color-violet));
}

#paper2 {
    position: relative;
    top: 180px;
    left: -350px;
    filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));

}
#paper3 {
    position: relative;
    top: 100px;
    left: 730px;
    filter: drop-shadow(34px 23px 23px var(--secondary-subset-color-violet));
}

#paper4 {
    position: relative;
    top: -50px;
    left: -750px;
    filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));
}

#paper5 {
    position: relative;
    top: 250px;
    left: -780px;
    filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));
}

#paper6 {
    position: relative;
    top: 150px;
    filter: drop-shadow(34px 23px 23px var(--secondary-subset-color-violet));
}

.episodes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px;
}

.episodes {
    margin: 10px;
    border: 1px solid var(--secondary-color-violet);
    border-radius: 12px;
    height: 200px;
    width: 400px;
    -webkit-box-shadow:0px 0px 27px 1px var(--primary-color-violet);
    -moz-box-shadow: 0px 0px 27px 2px var(--primary-color-violet);
    box-shadow: 0px 0px 27px 1px var(--primary-color-violet);
    transition: 0.3s ease-in-out;
}

.episodes:hover {
    scale: 1.05;
    -webkit-box-shadow:0px 0px 37px 10px var(--primary-color-violet);
    -moz-box-shadow: 0px 0px 37px 10px var(--primary-color-violet);
    box-shadow: 0px 0px 37px 10px var(--primary-color-violet);
}



.episodes img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.background_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.slides.fade {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.slides.fade.active {
    opacity: 0.4;
}

@keyframes changeSlide {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }

}

@media screen and (max-width: 1080px) {
    #paper1 {
        position: relative;
        top: 0;
        left: 1000px;
        filter: drop-shadow(20px 23px 23px var(--secondary-subset-color-violet));
    }
    
    #paper2 {
        position: relative;
        top: 0;
        left: -350px;
        filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));
    
    }
    #paper3 {
        position: relative;
        top: 100px;
        left: 730px;
        filter: drop-shadow(34px 23px 23px var(--secondary-subset-color-violet));
    }
    
    #paper4 {
        position: relative;
        top: 100px;
        left: 250px;
        filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));
    }
    
    #paper5 {
        position: relative;
        top: 100px;
        left: -780px;
        filter: drop-shadow(-24px 23px 23px var(--secondary-subset-color-violet));
    }
    
    #paper6 {
        position: relative;
        top: 100px;
        left: 750px;
        filter: drop-shadow(34px 23px 23px var(--secondary-subset-color-violet));
    }
    
}



@media screen and (max-width: 1080px){
    body {
        overflow-x: hidden;
        width: 100%;
      }

    .homepage-wrapper, .about-container, .episodes-container, .letters-container  {
        overflow-x: hidden;
        margin: 20px;
        padding: 15px;
        max-height: 150lvh;
        min-height: 100lvh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .capsule {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .episodes-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }

    .episodes {
        height: 100px;
        width: 200px;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
        width: 100%;
      }

    .homepage-wrapper, .about-container, .episodes-container, .letters-container  {
        overflow-x: hidden;
        margin: 20px;
        padding: 15px;
        max-height: 200lvh;
        min-height: 100lvh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .capsule {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .episodes-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }

    .episodes {
        height: 100px;
        width: 200px;
    }
}

