@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+JP:wght@200..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color-violet: #000000;
    --primary-subset-color-violet: #000000;
    --secondary-color-violet: #000000;
    --secondary-subset-color-violet: #000000;


    --primary-color-violet-text: #ffffff;
    --secondary-color-violet-text: #000000;
    --primary-font: "Noto Serif JP", serif;
    --letter-font: "Great Vibes", serif;
    --secondary-font: "Zilla Slab", serif;
}

* {
    scroll-behavior: smooth;
}

html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color-violet-text);
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--primary-font);
}

body {
    overflow-x: hidden;
    background-color: black;
    color: var(--primary-color-violet-text);
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

.homepage-wrapper, .about-container, .episodes-container, .letters-container  {
    padding: 5px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.homepage-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background:linear-gradient(to bottom, rgba(62, 66, 0, 0.445), rgb(0, 0, 0)), url('../Components/images/bkg1.jpg');
}

.homepage-container {
    z-index: 10;
    text-align: center;
    position: relative;
    top: -5rem;
}


.homepage-container a {
    border: 1px solid white;
    padding: 8px;
    border-radius: 6px;
}

.homepage-container h1 {
    font-size: 60px;
    text-shadow: rgba(255,208,0,0.71) 0px 0px 59px;

}

.homepage-container h4 {
    text-shadow: rgba(255,208,0,0.71) 0px 0px 59px;

}

.homepage-container a:hover {
    background-color: var(--secondary-color-violet);
    transition: 0.2s ease-in-out;
    -webkit-box-shadow:0px 0px 167px 10px rgba(255, 189, 96, 0.693);
    -moz-box-shadow: 0px 0px 167px 10px rgba(255, 189, 96, 0.693);
    box-shadow: 0px 0px 167px 10px rgba(255, 189, 96, 0.693);
}


.letters-modal {
    display: hidden;
}

.about-container p{
    width: 60%;
    font-family: var(--secondary-font);
    font-size: larger;
    text-align: justify;
    font-stretch: expanded;
}

.capsule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.papers {
    position: absolute;
    z-index: 1;
}

.papers img{
    height: 10rem;
    width: 10rem;
    padding: 5px;
    margin: 5px;
}

#paper1 {

    position: relative;
    top: -200px;
    left: 1000px;
    filter: drop-shadow(20px 23px 23px #000000);
}

#paper2 {
    position: relative;
    top: 180px;
    left: -350px;
    filter: drop-shadow(-24px 23px 23px #000000);

}
#paper3 {
    position: relative;
    top: 100px;
    left: 730px;
    filter: drop-shadow(34px 23px 23px #000000);
}

#paper4 {
    position: relative;
    top: -50px;
    left: -750px;
    filter: drop-shadow(-24px 23px 23px #000000);
}

#paper5 {
    position: relative;
    top: 250px;
    left: -780px;
    filter: drop-shadow(-24px 23px 23px #000000);
}

#paper6 {
    position: relative;
    top: 150px;
    filter: drop-shadow(34px 23px 23px #000000);
}

.episodes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px;
}

.episodes {
    margin: 10px;
    border: 1px solid white;
    border-radius: 12px;
    height: 200px;
    width: 400px;
}

@media screen and (max-width: 768px) {
    .homepage-wrapper, .about-container, .episodes-container, .letters-container  {
        margin: 5px;
        padding: 5px;
        height: 100lvh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .capsule {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .episodes-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }
}

